body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    background-color:#a6a6a6;
}
.vertical-align {
    display:block;
}
.vertical-align div {
    padding:1.5em 3em;
    background-color:#343432;
    width:90vw;
    display: inline-block;
    font-size: 1.5em;
}

#d4 {
    background-color: #FF5E46;
    color: darken(#FF5E46, 50%);
}
#d4:hover {
    background-color: darken(#FF5E46, 10%);
}
#d6 {
    background-color: #D47FE8;
    color: darken(#D47FE8, 50%);
}
#d6:hover {
    background-color: darken(#D47FE8, 10%);
}
#d8 {
    background-color: #8CC4FF;
    color: darken(#8CC4FF, 50%);
}
#d8:hover {
    background-color: darken(#8CC4FF, 10%);
}
#d10 {
    background-color: #92FFD5;
    color: darken(#92FFD5, 50%);
}
#d10:hover {
    background-color: darken(#92FFD5, 10%);
}
#d12 {
    background-color: #FBFFA2;
    color: darken(#FBFFA2, 50%);
}
#d12:hover {
    background-color: darken(#FBFFA2, 10%);
}
#d20 {
    background-color: #FFDD9A;
    color: darken(#FFDD9A, 50%);
}
#d20:hover {
    background-color: darken(#FFDD9A, 10%);
}
#dper {
    background-color: #FFBF99;
    color: darken(#FFBF99, 50%);
}
#dper:hover {
    background-color: darken(#FFBF99, 10%);
}
#roll {
    background-color: #343432;
    color: lighten(#343432, 70%);
}
#roll:hover {
    background-color: darken(#343432, 10%);
}

.active {
    background-color:#59E875 !important;
    color: #3D9E50 !important;
}
